		<div class="container" style="margin-top:20px;">
			<div class="row-fluid">
				<div class="span9 leftBox" style="height:auto">
          <div class="question">
            <h1>
              Survey Details
            </h1>
          </div>
           <div style="padding-left:0px; padding-top:0px; margin-top:0px">   
          <%= form_for(@survey, :url=>{:action => "create"}, :validate => true) do |f| %>
             <div class="points" style="margin-top:10px;padding-top:0px">
                        <div class="option">
                          <h3 style="margin-bottom:15px;">Industry Size</h3>
                    <%#= f.text_field :size ,:class=>"span3", :placeholder=>"size"%>
                    <%= f.select :size, [['10 - 20'],['21 - 50'],['51 - 100']],:class=>"span3" %>

                    <br>
                </div>
              </div>
              <div class="points" style="margin-top: 30px;padding-top:0px">
                <div class="option" >
                  <h3 style="margin-bottom:15px;">What is total revenue in last 12 months?</h3>
                  <%= f.select :revenue, [['more then 500000'],['500000-1500000'],['1500000 and more']],:class=>"span3" %>
                </div>
              </div>

              <p style="clear:both; margin:40px 0 40px 20px; float:left; height:auto; width:97%;">
                <%= f.submit "Start Survey", :class=>"btn btn-primary icon-remove icon-white" ,:input_html =>{:style=>"float:left; margin-right:20px;"} %><i class="icon-folder-close icon-white"></i>
              </p>
        <% end %>
       	</div>
        </div>
<% if @previous_surveys.present?%>
       <div class="span3 rightBox" >
                  
                        <h2 style=" text-align:left; padding-top:0px;color:#0086AC; padding-bottom:0px;font-weight: 300;">Previous Survey  </h2>
                    
                    <div class="Baloon" style="margin-top:20px;">
                        <div class="head1"><h1>January 2011 </h1>
                    
                        </div>
                            <div class="score1">
                            <span>700</span>
                            </div>
                    </div>

                    <div class="Baloon" style="margin-top:20px;">
                        <div class="head1"><h1>March 2012 </h1></div>
                            <div class="score1">
                            <span>600</span>
                            </div>
                </div>

                </div>

	         <%else%>
           <div class="span3 rightBox" >
                  
                        <h2 style=" text-align:left;padding-top:0px;color:#0086AC; padding-bottom:0px;font-family: 'Telex',sans-serif;font-weight: normal;">Previous Survey  </h2>
                    
                    <div class="Baloon" style="margin-top:20px;">
                        <div class="head1"><h1>January 2011 </h1>
                    
                        </div>
                            <div class="score1">
                            <span>700</span>
                            </div>
                    </div>

                    <div class="Baloon" style="margin-top:20px;">
                        <div class="head1"><h1>March 2012 </h1></div>
                            <div class="score1">
                            <span>600</span>
                            </div>
                </div>

                </div>


          <%end%>
			</div>
		</div> 