        <%= javascript_include_tag 'jquery'%>
        <div class="container" style="margin-top:20px;">
            <div class="span9" style="margin:0; background-color:#505b62;">
                   <ul class="nav nav-pills">
                    <li class="done"><a href="#">Strategy <span>24</span></a></li>
                    <li class="on"><a href="#">Systems <span>80</span></a></li>
                    <li class="next"><a href="#">Programs </a></li>
                    <li class="next"><a href="#">Final Result</a></li>
                  </ul>
            </div>
        </div>
        <div class="container" style="margin-top:20px;">
            <div class="row-fluid">
                <div class="span9 leftBox" style="height:auto;background-color:#ffffff">
                    <div class="question">
                        <h1>                            
                            <%= @question.name%>
                        </h1>
                        <h2>
                            Q5
                            <%#= @question.point for setting the point for each question %>
                        </h2>
                    </div>
                    <%= render "questions_set"%>
                </div>
            </div>
        </div> 



          <script>
         $(document).ready(function(){ 
               //hide priority option on load
               $('#priority_option').hide();  

                //show priority option on click of add to plan
                $('#add_to_plan').click(function(){
                   $('#priority_option').show();
                });

                $('#option').click(function(e){
                  //alert('in option');
                  // alert(e.target.className);
                });

                $(".priorityTip").tooltip({
                    placement: 'bottom' 
                }); 
                
                
                
                $( "#slider" ).slider({
                    value:0,
                    min: 0,
                    max: 100,
                    step: 25,
                    slide: function( event, ui ) {
                        switch(ui.value){
                            case 0 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 0'); break;
                            case 25 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 25'); break;
                            case 50 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 50'); break;
                            case 75 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 75'); break;
                            case 100 :  $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 100'); break;
                        }
                    }
                });
                
                $("div#slider a.ui-slider-handle").tooltip({
                    placement: 'bottom' 
                });
                $("a.ui-slider-handle").attr('data-original-title', 'Please Fill Text 0');
                
            });
         </script>

        <style>
            .ui-corner-all {
                border-radius: 4px 4px 4px 4px;
            }
            
            .ui-widget-content {
                background: url("../assets/images/slide_bg.png") repeat-y scroll 50% top #EEEEEE;
                width:580px;
                border: 1px solid #DDDDDD;
                color: #333333;
            }


            .ui-slider { position: relative; text-align: left; margin-left:15px; }
            .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 24px; height: 25px; cursor: default;background-image: url("slider_handle.png") repeat-x scroll 50% top; }
            .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
            
            .ui-slider-horizontal { height: .8em; }
            .ui-slider-horizontal .ui-slider-handle { top: -.5em; margin-left: -.6em; }
            .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
            .ui-slider-horizontal .ui-slider-range-min { left: 0; }
            .ui-slider-horizontal .ui-slider-range-max { right: 0; }
        </style>