<div class="container" style="margin-top:20px;">
        	<div class="span9" style="margin:0; background-color:#505b62; width:100%;">
                   <ul class="nav nav-pills">
                    <li class="done"><a href="#">Strategy <span>24</span></a></li>
                    <li class="done"><a href="#">Systems <span>80</span></a></li>
                    <li class="done"><a href="#">Programs <span>120</span> </a></li>
                    <li class="on"><a href="#">Final Result <span style="background-color:#00A54F;">224</span> </a></li>
                  </ul>
            </div>
        </div>
		<div class="container" style="margin-top:20px;">
			<div class="row-fluid" style="margin-left: 0;">
				<div class="span4" style="background-color: white;width: 28.91%;">
					<h2>Strategy</h2>
                    <div>
                   <div id="accordion1" class="pageAccordion">
	<h3><a href="#">Sub Category 1</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 2</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 3</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 4</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
    <h3><a href="#">Sub Category 5</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
    <h3><a href="#">Sub Category 6</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
</div>
<br>
<br>
<br>


                    </div>
                    <div class="scoreBox">
                    <div class="finalScore">
                    TOTAL
                    <span>260
                    <i>POINTS</i></span>
                    </div>
                    </div>
				</div>
                <div class="plus">+</div>
                <div class="span4" style="background-color: white;width: 28.91%;">
                	<h2>Systems</h2>
                    <div>
                    <div id="accordion1" class="pageAccordion">
	<h3><a href="#">Sub Category 1</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 2</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 3</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 4</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
    <h3><a href="#">Sub Category 5</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
    <h3><a href="#">Sub Category 6</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
</div><br>
<br>
<br>

                    </div>
                    <div class="scoreBox">
                    <div class="finalScore">
                    TOTAL
                    <span>320
                    <i>POINTS</i></span>
                    </div>
                    </div>
				</div>
                <div class="plus">+</div>
                <div class="span4" style="background-color: white;width: 28.91%;">
                	<h2>Programs</h2>
                    <div>
                   <div id="accordion1" class="pageAccordion">
	<h3><a href="#">Sub Category 1</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 2</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 3</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
	<h3><a href="#">Sub Category 4</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
    <h3><a href="#">Sub Category 5</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
    <h3><a href="#">Sub Category 6</a><i>214</i></h3>
	<div>
		<p>
            <div class="ques"><span>1. Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer</span><i>14</i></div>
            <div class="ques"><span>2. ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit</span><i>14</i></div>
            <div class="ques"><span>3. amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut</span><i>14</i></div>
            <div class="ques"><span>4. odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</span><i>14</i></div>
		</p>
	</div>
</div>
<br>
<br>
<br>
                    </div>
                    <div class="scoreBox">
                    <div class="finalScore">
                    TOTAL
                    <span>420
                    <i>POINTS</i></span>
                    </div>
                    </div>
				</div>
			</div>
		</div> 
        <div class="container" style="margin-top:20px;">
			<div class="row-fluid">
				<div class="span7" style="text-align:center;height:170px;background-color:white;">
                	<div style="padding:15px;">
                        <h3 style="color: #00A54F;">Thank you for taking the survey.</h3><br>
                        <h2 style="color: #0086AC;">Your Final Score is <span>1000 points</span></h2><br>
						<a href="#" class="btn btn-small btn-info"><i class="icon-info-sign icon-white"></i> Tips and tricks to improve score</a>
                    </div>
				</div>
                <div class="span3" style="margin-left:0; padding-right:10px;padding-left:10px;background-color:#394247;
                height:170px;">
                	<div style="padding:10px;">
                        <div style="float:left; width:82px;">
                            <h2 class="revenue">Revenue<br>
                            <span>Grade</span><br>
							<!--<img src="img/stars.png" alt="stars">-->
							<div id="fixed"></div>
                            </h2>
                        </div>
                        <div class="grade">
                        <span>Grade CODE</span>
                        </div>
                    </div>
				</div>
                <div class="span2" style="margin-left:0; padding-right:10px;padding-left:10px;text-align:center;height:170px;background-color:#0086ac;color:#fff;"><br>
                    <br>
                    <a href="#" style="color:#fff;">
                    <%= image_tag "download_icon.png",:class => "downloadIcon" %>
                    
                                        Download<br>
                                        Result</a><br>                
                                        
                    <br>
					<button class="btn btn-small">Compare with<br>Benchmark</button>
				</div>
			</div>
		</div>

		
		  