    <div class="container headerPopup">
      <div class="row-fluid">
        <div class="span9 leftBox mainLeft">                  
          <div class="question">
            <h1> Existing Surveys </h1>
          </div>

          <div class="text" >
          <p>Please select a survey to continue
          </p>
          </div>
          
         
           <div class="surveyDone">
                     <% current_user.companies.each do |cmpany| %>      
                     <div class="points">
                        <div class="option" >
                        <h3>Surveys of company <%= cmpany.name%></h3>

                         <%@active_survey = cmpany.surveys.find(:all, :conditions=>["is_active=?", true]) %>
                          <% if @active_survey.present?%>
                          <% @active_survey.each do |survey|%>
                              <%= link_to "Survey_#{survey.created_at.strftime('%B  %Y')}", get_response_status_url(survey)%>
                            </br>
                          <%end%>
                          <% end %>                                                   
                        </div>
                      </div>
                    <%end%>                      
                     
             </div>  
           </div>
           <div class="span3 rightBox" >
               <div class="scoreBoard scoreboard1">
                  <div class="head">About Revenue Grader </div>
                     <div class="score">
                        <span>Some notes on revenue grader</span>
                     </div>
                  </div>
                  <div class="scoreBoard">
                     <div class="head">About Revenue Architects </div>
                        <div class="score">
                            <span>Some notes on revenue architects</span>
                        </div>
                     </div>
                  </div>      
                </div>
              </div> 
