  <div class="span6 copyright">
    Copyright &copy; <%= Time.now.strftime("%Y") -%> , Revenue Grader. All rights reserved.
  </div>
  <div class="span6 developed">
    <a href="http://www.icicletech.com/" target="_blank">Web & Mobile Developement &nbsp;</a>By Icicle Technologies
  </div>

