<div class="container footer" >
	<div class="row-fluid" >
<div class="span6 copyright"><br />Copyright &copy; 2012, Revenue Grader. All rights reserved.</div><div class="span6 developed"><br /><a href="http://www.icicletech.com/" target="_blank">Software Developed </a>By Icicle Technologies
</div>
</div>
</div>