  <div class="span6">
    Copyright &copy; <%= Time.now.strftime("%Y") -%> , Revenue Grader. All rights reserved. 
	</br>
	<%= link_to "Privacy", privacy_policy_path, :target => '_blank'%>
  </div>
  <div class="span6 ">
  	<div class="pull-right">
    <a href="http://www.icicletech.com/" target="_blank">Web & Mobile Developement</a> By Icicle Technologies
  </div>
</div>