<div class="container footer" >
	<div class="row-fluid" >
<div class="span6 copyright"><%= link_to aboutus_url() do%><i class="icon-pencil"></i> About Us &nbsp; <%end%> <%= link_to contactus_url() do%> <i class="icon-map-marker"></i> Contact Us <%end%><br />Copyright &copy; 2012, Revenue Grader. All rights reserved.</div><div class="span6 developed"><br />Software Developed By <a href="http://www.icicletech.com/" target="_blank">Icicle Technologies</a>
</div>
</div>
</div>
