  <div class="span6 footer">
    Copyright &copy; <%= Time.now.strftime("%Y") -%> , Revenue Grader. All rights reserved.
  </div>
  <div class="span6 ">
  	<div class="pull-right footer">
    <a href="http://www.icicletech.com/" target="_blank">Web & Mobile Developement &nbsp;</a>By Icicle Technologies
  </div>
