

<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" style="background-color:#fff;">
					<a class="brand" href="#"><%= image_tag "logo.png", :alt=>"logo", :style=>"vertical-align: top; margin-left:10px;" %></a>
					<div class="ra">
						brought to you by<a href="#" target="_blank"><%= image_tag "ra_logo.png", :alt=>"ra_logo", :style=>"vertical-align: top; margin:-4px 0 0 4px;" %></a>
					</div>
					<div class="row-fluid">
						<div class="button-bar">
							<% if user_signed_in?%>
							<a href="#" class="btn">Logout</a>
							<%else%>
							<a href="#" class="btn">Login</a> <a href="#" class="btn btn-primary">Sign Up</a>
							<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>
