<div class="container left">
			<div class="row-fluid">
				<div class="span12">
					        <ul class="nav nav-tabs2"> 
                                <li><a href="#questions" data-toggle="tab">Practices</a></li>
                                <li><a href="#sections" data-toggle="tab">Sections</a></li>
                                <li><a href="#users" data-toggle="tab">Users</a></li>
                                <li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
                            </ul>
                             
                            <div class="tab-content2"style="padding-top:0px">
                            <div class="tab-pane active" id="dashboard">
								<div class="tabHead">
                                	<h1>Dashboard</h1>
                                    <h2>Overview about the user activity</h2>
                                </div>
                                <div class="tabMid">
                                	<div class="activeUsers">
                                        <h3>20</h3>
                                        <h4>Active Users</h4>
                                    </div>
                                    <div class="responses">
                                        <h3>50</h3>
                                        <h4>Responses</h4>
                                    </div>
                                    <div class="average">
                                        <h3>12%</h3>
                                        <h4>Average Percentage</h4>
                                    </div>
                                    <div class="button-bar">
                                    <div class="btn-group"  style="margin-top: 45px; width: 150px;">
                                          <a href="#" class="btn"><i class="icon-calendar"></i> This Month</a>
                                          <a href="#" data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></a>
                                          <ul class="dropdown-menu">
                                            <li><a href="#"><i class="icon-calendar"></i> Last Month</a></li>
                                            <li><a href="#"><i class="icon-calendar"></i> Last Year</a></li>
                                          </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tabGraph">
                                    <div class="box">                                        
                                        <h1>Responses in the current month <strong>March 2012</strong></h1>
                                        <!-- <dl id="csschart">
                                            
                                            <dt>1</dt>
                                            <dd class="first"><span class="type3 p36"></span></dd>
                                            
                                            <dt>2</dt>
                                            <dd><span class="type3 p45"></span></dd>		
                                            
                                            <dt>3</dt>
                                            <dd><span class="type3 p51"></span></dd>	
                                            
                                            <dt>4</dt>
                                            <dd><span class="type3 p48"></span></dd>	
                                            
                                            <dt>5</dt>
                                            <dd><span class="type3 p55"></span></dd>								
                                            
                                            <dt>6</dt>
                                            <dd><span class="type3 p80"></span></dd>			
                                            
                                            <dt>7</dt>
                                            <dd><span class="type3 p72"></span></dd>	
                                            
                                            <dt>8</dt>
                                            <dd><span class="type3 p71"></span></dd>	
                                            
                                            <dt>9</dt>
                                            <dd><span class="type3 p64"></span></dd>	
                                            
                                            <dt>10</dt>
                                            <dd><span class="type3 p55"></span></dd>	
                                            
                                            <dt>11</dt>
                                            <dd><span class="type3 p62"></span></dd>	
                                            
                                            <dt>12</dt>
                                            <dd><span class="type3 p44"></span></dd>
                                            
                                            <dt>13</dt>
                                            <dd><span class="type3 p45"></span></dd>		
                                         -->    
<!--                                             <dt>14</dt>
                                            <dd><span class="type3 p51"></span></dd>	
                                            
                                            <dt>15</dt>
                                            <dd><span class="type3 p48"></span></dd>	
                                            
                                            <dt>16</dt>
                                            <dd><span class="type3 p55"></span></dd>								
                                            
                                            <dt>17</dt>
                                            <dd><span class="type3 p80"></span></dd>			
                                            
                                            <dt>18</dt>
                                            <dd><span class="type3 p72"></span></dd>	
                                            
                                            <dt>19</dt>
                                            <dd><span class="type3 p71"></span></dd>	
                                            
                                            <dt>20</dt>
                                            <dd><span class="type3 p64"></span></dd>	
                                            
                                            <dt>21</dt>
                                            <dd><span class="type3 p55"></span></dd>	
                                            
                                            <dt>22</dt>
                                            <dd><span class="type3 p62"></span></dd>	
                                            
                                            <dt>23</dt>
                                            <dd><span class="type3 p44"></span></dd>		
                                            
                                            <dt>24</dt>
                                            <dd><span class="type3 p55"></span></dd>								
                                            
                                            <dt>25</dt>
                                            <dd><span class="type3 p80"></span></dd>	 -->											
                                                    
                                    </dl>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="tab-pane" id="users" >Users</div>
                            <div class="tab-pane" id="reports" >Reports</div>
                            <div class="tab-pane" id="sections" >Sections</div>
                            <div class="tab-pane" id="practices" >Practices</div>
                            <div class="tab-pane" id="settings" >Settings</div> -->
                            </div>
				</div>
			</div>
		</div> 