<%#= @add_to_plan_responses.inspect%>
 <% if @responses.present?%>
  <table cellpadding="1" cellspacing="1" id="resultTable" class="report-body dataTable2">
    <%= render :partial=>"table_header_compare"%>
  <tbody>
    <% @responses.each do |response| %>
      <%= render "response_report_compare", {response: response} %>
    <% end %>
  </tbody>
 </table>

 <%else%>
 <p>No Response avaiable for this search</p>
 <%end%>
