
                                               <thead class="table-header">
                                                  <tr>
                                                    
                                                    <th><h3>Practice</h3></th>
                                                    
                                                    <th><h3>Points</h3></th>          
                                                    <th><h3>Your Score</h3></th>
                                                    <th><h3>Avg Score</h3></th>
                                                    <th><h3>Cal Score</h3></th>
                                                    <th><h3>Avg Cal Score</h3>
                                                     </th>           
                                                          
                                                  </tr>
                                                </thead>
                                                <tbody>