<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-title" id="myModalLabel">Quick Start Instructions</div>
    </div>
    <div class="lightbox-popup-content">
      <div>
        1. Answer each of the 50 questions in the diagnostic. It takes about an hour.
        </br>
        <span class="sub-points">
          a. For each dimension, rate your current level of maturity and the importance of each item from (1-5)
        </span>
        <span class="sub-points">
          b. Choose ‘Add to Plan’, ‘In Your Plan’ or "Not Applicable".
        </span>
      </div>
      <div>
        2. If added to your plan, prioritize the dimension: (Must, Should, Could)
      </div>
      <div>
        3. Press 'Confirm' to register your response.
      </div>
      <!-- <div>
        4. You can optionally add items  to your plan. If you add an item to the pla, you can enter a priority (must, should, could).
      </div>
      <div>
        5. Press 'Confirm' to register your response. You can return to edit items.
      </div> -->
       <div>
        If you have any questions or need help, contact us at contact@revenuearchitects.com
      </div>
      </br>
      <%= check_box_tag "prevent_popup", id: "prevent_popup" %>
      <span class="checkbox-popup-label">
        <%= "Don't show this on next visit."%>
      <span>
    </div>
  </div>
</div>
