<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Need to select - add to plan </h4>
    </div>
    <div class="lightbox-popup-content">
      <div>
        1. For each question, rate your current level of maturity and the level of importance to your business.
      </div>
      <div>
        2. Select one of the following options:
        </br>
        <span class="sub-points">
          - Add this capability to your plan (this will allow you to score priority)
        </span>
        </br>
        <span class="sub-points">
          - Indicate that it is already in your plan
        </span>
        </br>
        <span class="sub-points">
          - Mark it as not applicable to your business.
        </span>
      </div>
      <div>
        3. If you have selected “Add to Plan” then indicate priority (Must Do, Should Do, or Could Do or Won't do)
      </div>
      <div>
        4. Confirm your answer
      </div>
    </div>
  </div>
</div>

