<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-title" id="myModalLabel">Quick Start Instructions</div>
    </div>
    <div class="lightbox-popup-content">
      <p>The Grader helps you assess 30 Revenue Architecture dimensions. It takes
      about 30 - 45 minutes to complete and you can save your responses and return as
      needed.
      </p>
      <p>Here are the steps for using the diagnostic and scoring each dimension:</p>
      <ol>
        <li>
          Assess the dimension and rate your current maturity level using the maturity scale.
        </li>
        <li>
          Rate the importance of each item to your business (1-5).
        </li>
        <li>
          Select ‘Add to Plan’, mark ‘In Your Plan’ or "Not Applicable".
        </li>
        <li>
          Mark the priority taking action to improve the dimension: (Must, Should, Could).
        </li>
        <li>
          Press 'Confirm' to register your response.
        </li>
      </ol>
      <p>A report will be produced upon completion. If you have any practices or need help, please email us at <%= mail_to 'contact@revenuearchitects.com' %></p>
      </br>
      <%= check_box_tag "prevent_popup", id: "prevent_popup" %>
      <span class="checkbox-popup-label">
        <%= "Don't show this on next visit."%>
      <span>
    </div>
  </div>
</div>
