
    <div class="qdots" id="qdots"> 
      <div class="pagination" >
        <ul>    
            <%if(params[:question_id].to_i == 1)%>
                <li class="disabled">   
                  <a class="prev">Prev</a>                  
                </li>  
                <%else%>
                <li>
                 <%= link_to 'Prev', questions_url(params[:id],
                    params[:question_id].to_i - 1)%>
                 </li>   
             <%end%>       


            <% @questions.each do |question|%>
               
                  <% if (question.response_quest_id.present?) %>
                    <li>
                      <%= link_to questions_url(params[:id],question.id), 
                      :title=>"#{question.id}", :rel=>"tooltip" do%>
                      <i class="icon-ok iconfont"></i>
                      <%end%>
                    </li>
                  <%else%>       
                    <li>
                      <%= link_to questions_url(params[:id],question.id), 
                      :title=>"#{question.id}", :rel=>"tooltip" do %>
                      <i class="icon-ban-circle"></i>
                  <%end%>
                    </li>                               
                 <%end%>
             <%if(params[:question_id].to_i == @question_all)%>
               <li class ="disabled">
                 <a class="next">Next</a> 
               </li>
             <%else%> 
              <li>
                <%= link_to 'Next', questions_url(params[:id],params[:question_id].to_i + 1)%>
              </li>
              <%end%>
            <%end%>
        </ul>
      </div>
    </div>