<div class="row-fluid">
    <div id="backcolor" class="span12 menucolor" >
          <ul class="nav nav-pills">
            <%= render "/surveys/section"%>
                               
                     <li class="on2">
                     <%= link_to(compare_path(params[:id])) do %>
                            <i class="icon-file iconOn">
                            </i>&nbsp;Compare
                       <% end %>
                     </li>

                   <li class="next2">
                     <%= link_to(download_path(request.parameters.merge({:format => :pdf})), :rel=>"tooltip") do %>
                         <i class="icon-share" style="color:#000000;text-shadow : none ;font-size:15px"></i>
                            Download 
                       <% end %>
                    </li>  
    </div>
</div>


