
<div class="row-fluid">
    <div id="backcolor" class="span12 menucolor" >
          <ul class="nav nav-pills">
            <%= render "section"%>
            <%= hidden_field_tag('section', @section.id)%>                    
          </ul>
    </div>
</div>

