 <div class="processIcons">
        <span class="leftflt">
        <%= image_tag "processing_grey.png",:width=>"47px",:height=>"49px" %>
        <p class="demographicstext2">Demographics</p>
        </span>

        <span class="spacing">
        <%= image_tag "qa.png",:width=>"47px",:height=>"49px",:class=>"qa" %>
        <p class="qatext2">Q&amp;A</p>
        </span>
        
        <span class="rightflt">
        <%= image_tag "download_grey.png",:width=>"47px",:height=>"49px",:class=>"reporticon"%>
        <p class="reporttext">Report</p>
        </span>
    </div>



  <div class="scoreboard">
    <div class="head">
      <p class="abouttext">About Revenue Grader</p>
    </div>
    <div class="text1"><br>
      <p class="abouttextcontent">
        Revenue Grader is a diagnostic tool developed by the team at Revenue Architects.  Revenue Grader helps you quickly assess and plan your revenue growth strategy.
        </p>
     </div> 
  </div>
</div>

<div class="row-fluid">
  <div class="scoreboard span12">
    <div class="head">
      <p class="abouttext">About Revenue Architects</p>
    </div>
    <div class="text1">
      <div class="span9 abouttextcontent">
        <h3>Trusted delivery partner for integrated marketing.</h3>
        <p>Revenue Architects is a marketing agency and services firm helping businesses align marketing and sales and drive revenue growth.</p>
        <p>Today’s buyers search the web and engage social networks to research products and services and reinforce decisions. In addition to strong relationships, businesses need the right content, web presence, search visibility and lead generation capabilities. Theyneed an agile <a title="Revenue Architecture" href="http://www.revenuearchitects.com/resources/revenue-architecture/" target="_blank"> revenue architecture</a> thatblends the the right strategies, systems and programs.</p>
        <p>We serve as our client’s trusted advisor, blending the resources needed to build brands and envision, launch and manage integratedrevenue programs. We blend the strategy, creative, design, technology talent needed for today’s modernmarketing.</p>
        <p>
          Visit our <a title="Services" href="http://www.revenuearchitects.com/services/">Services</a> to learn more:
        </p>
        <p>
          <a title="Revenue Strategy" href="http://www.revenuearchitects.com/services/revenue-strategy/" target="_blank">Revenue Strategy</a>:  Envision and prioritizerevenue marketing strategies, differentiate brands
          <br>
          <a title="Revenue Systems" href="http://www.revenuearchitects.com/services/revenue-systems/" target="_blank">Revenue Systems</a>: Integrate technology, build organizations and processes for revenue marketing.
          <br>
          <a title="Revenue Programs" href="http://www.revenuearchitects.com/services/revenue-programs/" target="_blank">Revenue Programs</a>: Design, launch and manage integrated revenue marketing campaigns.
        </p>
      </div>
      <div class="span3">
        <section class="">
          <h3 style="text-align: center;">Revenue Architecture</h3>
        </section>
        <section class="">
          <p style="text-align: center;">
            <a href="http://revenuearchitects.com/resources/revenue-architecture/" style="float: none; text-align: center; margin: 0px; padding: 0px;">
              <img class="aligncenter  wp-image-6829" alt="Revenue Architecture" src="http://revenuearchitects.com/wp-content/uploads/2013/08/RA_Architecture-300x241.png" width="240" height="193">
            </a>
          </p>
        </section>
      </div>
    </div>
  </div>
</div>