
                                               <thead>
                                                  <tr>
                                                    <th><h3>#</h3></th>
                                                    <th><h3>Questions</h3></th>
                                                    <th><h3>Section</h3></th>
                                                    <th><h3>Subsection</h3></th>
                                                    <th><h3>Points</h3></th>          
                                                    <th><h3>Score</h3></th>
                                                    <th><h3>Avg Score</h3></th>
                                                    <th><h3>Calculated Score</h3></th>
                                                    <th><h3>Avg Calculated Score</h3>
                                                     </th>           
                                                    <th><h3>Priority</h3></th>        
                                                  </tr>
                                                </thead>
                                                <tbody>