
                                               <thead class="table-header">
                                                  <tr>
                                                    <th><h3>#</h3></th>
                                                    <th><h3 title ="Questions">Questions</h3></th>
                                                    <th><h3 title ="Category of questions">Section</h3></th>
                                                    <th><h3 title ="Subcategory of questions">Dimension</h3></th>
                                                    <th><h3 title ="Points for questions">Points</h3></th>
                                                    <th><h3 title ="Your Score for Questions">Your Score</h3></th>
                                                    <th><h3 title ="Your importance for questions">Your Importance</h3></th>
                                                    <th><h3 title ="Gap between importance and maturity level for questions">Your Gap</h3></th>
                                                    <th><h3 title ="Average score for questions">Avg Score</h3></th>
                                                    <th><h3 title ="Calculated score for questions">Cal Score</h3></th>
                                                    <th><h3 title ="Average calculated score for questions">Avg Cal Score</h3>
                                                     </th>
                                                    <th><h3 title ="Priority for questions">Priority</h3></th>
                                                  </tr>
                                                </thead>
                                                <tbody>
