<table cellpadding="1" cellspacing="1" id="resultTable" class="report-body dataTable2"> 
                                               <thead>
                                                  <tr>
                                                    <th><h3>id</h3></th>
                                                    <th><h3>Questions</h3></th>
                                                    <th><h3>Section</h3></th>
                                                    <th><h3>Points</h3></th>          
                                                    <th><h3>Score</h3></th>
                                                    <th><h3>Average Score</h3></th>
                                                    <th><h3>Calculated Score</h3></th>
                                                     <th><h3>Average Calculated Score</h3>
                                                     </th>           
                                                    <th><h3>Priority</h3></th>        
                                                  </tr>
                                                </thead>
                                                <tbody>