<thead class="table-header">
  <tr>
    <th><h3>#</h3></th>
    <th><h3 title ="Practices">Practices</h3></th>
    <th><h3 title ="Dimension of practices">Section</h3></th>
    <th><h3 title ="SubDimension of practices">Dimension</h3></th>
    <th><h3 title ="Points for practices">Points</h3></th>
    <th><h3 title ="Your Score for Practices">Your Score</h3></th>
    <th><h3 title ="Your importance for practices">Your Importance</h3></th>
    <th><h3 title ="Gap between importance and maturity level for practices">Your Gap</h3></th>
    <th><h3 title ="Priority for practices">Priority</h3></th>
  </tr>
</thead>
