
                                               <thead>
                                                  <tr>
                                                    <th><h3>#</h3></th>
                                                    <th><h3>Questions</h3></th>
                                                    <th><h3>Section</h3></th>
                                                    <th><h3>Subsection</h3></th>
                                                    <th><h3>Points</h3></th>          
                                                    <th><h3>Your Score</h3></th>
                                                    <th><h3>Avg Points</h3></th>
                                                    <th><h3>Cal Score</h3></th>
                                                    <th><h3>Avg Cal Score</h3>
                                                     </th>           
                                                    <th><h3>Priority</h3></th>        
                                                  </tr>
                                                </thead>
                                                <tbody>