    
<% content_for :top_bar_content do  -%> 
    <%= render "sections"%>
<% end -%> 

<%content_for :main_content do%> 
          <div class="question">
              <div class="confirmSurvey">                                
                  Thank you for successfully completing the survey                           
              </div>
                                  
            <div class="footerconfirm" >
           <%= link_to 'Go back', continue_survey_path(@survey) ,:class=>"btn questionsattemted"%>
           <%= link_to 'Complete Survey', close_survey_path(@survey) ,:class=>"btn btn-primary questionsattemted"%></div>
          </div>
  <% end -%> 


  <% content_for :side_content do -%>
    <%= render "confirm_side_details" -%> 
<% end  -%>  
      

          
         
