<div class="tab-content" id="tab-content" style="padding-left:0px;">
  <div class="tab-pane active" id="home">
    <%= render partial: "users/registrations/new"%>
  </div>
  <div class="social-login">
    <%= render partial: 'shared/social_login' %>
  </div>
</div>


