<% content_for :main_content do -%>
  <div class="main-content-header">
    <div class="heading" style="padding-left: 43% !important;">
      <h1 style="margin-top:52px;">About Us</h1>
    </div><!-- / -->
    <div class="arrow">
      &nbsp;
    </div><!-- / -->
  </div><!-- / -->
  <div class="main-content-content aboutus">
    <h2>About Revenue Grader</h2>

    <p>Revenue Grader is a diagnostic tool developed and managed by Revenue Architects. The diagnostic is designed to help revenue-marketing leaders rapidly assess their revenue performance potential and develop a top-level prioritized plan. Revenue Grader takes a broad and strategic view across integrated marketing best practices to help managers identify and assess the critical elements of revenue performance.</p>

    <p>The diagnostic is structured across three layers:</p>

    <ul>
      <li>Revenue Strategy Layer – capabilities to deliver competitive advantage and build a prioritized revenue marketing plan.</li>
      <li>Revenue Systems Layer – the revenue organization, website. apps and social media presence and technologies including marketing automation and CRM.</li>
      <li>Revenue Programs Layer – the ability to envision, design, integrate, launch and measure marketing and sales campaigns.</li>
    </ul>
    <p>We hope the diagnostic will help you identify priorities in your business and serve as a starting point for your integrated marketing strategy and plan.</p>

    <h2>How does it work?</h2>

    <p>After a user registers, they are provided access to a 50-dimension diagnostic tool. The user rates maturity on key factors using a scale of 1-5. For each dimension, they can choose to “add to plan” and indicate priority level.  The result is a prioritized top-level plan with “must do”, “should do” and “could do” items.</p>

    <h2>Key features:</h2>

    <p>50 best practice dimensions across Revenue Strategy, Revenue Systems and Revenue Programs with explanatory text.</p>
    <ul>
      <li>1-5 capability maturity scoring engine with weighted scoring.</li>
      <li>Ability to “add to plan” and rate priority using “must”, “should”, “could”.</li>
      <li>Ability to view the report and sort by maturity and priority factors.</li>
      <li>Save and return to the plan.</li>
    </ul>
  </div>
<% end -%>







