
<div class="container" style="margin-top:25px;background-color:#FFF;height:auto;">
			<div class="row-fluid" style="padding-top:20px;margin-left:20px;width:90%;">
			 
			 <div class="picon">
			 	<div class="aboutus">
			 <h2 >About Revenue Grader</h2>
<p>Revenue Grader is a <a href="#">Revenue Architects</a> application. It is a diagnostic tool to help businesses leaders rapidly assess revenue performance potential and develop a prioritized top-level plan – all in minutes. Revenue Grader complements other grader apps by taking a broad and strategic view of the critical elements of revenue performance.</p>
It is focused across three critical dimensions:
<ul><b>
<li>Revenue Strategy</li>
<li>Revenue Systems</li>
<li>Revenue Programs</li>
</b></ul>
<p>After completing the Revenue Grader diagnostic, the executive can quickly identify priorities. Priorities can range widely - from developing market segmentation and crafting better value propositions to deploying marketing automation and enhancing sales team skills.<p> 
<h3>How does it work?</h3>
<p>After a user registers, they are provided access to a very easy to use diagnostic tool. They can rate their maturity on key factors using a scale of 1-5. For each maturity factor, choose to <b>“add to plan”</b> and indicate priority.  In about 20 minutes, they will have a prioritized top-level plan indicating the items that are <b>“must do”</b>,<b> “should do” </b>and<b> “could do”</b>.  By updating the plan each quarter, the manager can see clear progression in plan execution.</p>
<h3>Key features:</h3>
<ul>
<li>100 Revenue Performance Factors across Revenue Strategy, Revenue Systems and Revenue Programs</li> 
<li>1-5 capability maturity scoring system</li>
<li>Ability to quickly “add to plan” and indicate priority using “must”, “should”, “could”</li>
<li>Compare scores with peer groups</li>
<li>Print or view the report and sort by maturity and priority</li>
</ul>
We hope you find the Revenue Grader to be valuable tool for your business and a start to an effective revenue growth plan.<br/><br/>
<h2 >About Revenue Architects</h2>

<h3>A new kind of consulting agency</h3>
<p>Growing the top-line is more challenging than ever. The web, social media and mobile technologies have transformed buyer-seller process.  Businesses must integrate marketing and sales and engage the web to capture, deepen and expand relationships. Yet, executing successfully requires both a solid strategy and a wide range of talent  – from creative design and branding to content creation and technology.  And needs change continuously.</p>
<p>Revenue Architects delivers adaptive services for revenue growth. We work with relationship businesses to address diverse marketing and sales needs. By combining our core team and an expert network, we can deliver comprehensive services for revenue growth:</p>
<ul><b>
<li>Revenue Strategy: Envisioning opportunities, assessing capabilities and prioritizing initiatives</li>
<li>Revenue Systems: Deploying technology, mapping processes, and building skills</li>
<li>Revenue Programs:  Creating and delivering innovative campaigns and programs.</li></b></ul>
			 	
			</div>
			  <!-- <h2>About Us</h2><br/>

			  <h4>Rate yourself on key revenue drivers</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.</p>

			  <h4>We instantly process the results</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.</p>

			  <h4>Download your report</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.</p> -->
			</div>
			</div>
		</div> 

