<% content_for :main_content do -%>
   <div class="main-content-header">
          <div class="heading" style="padding-left: 43% !important;">
            <h1 style="margin-top:52px;">About Us</h1>
          </div><!-- / -->
          <div class="arrow">
            &nbsp;
          </div><!-- / -->
    </div><!-- / -->

     <div class="main-content-content aboutus">
      <h2>About Revenue Grader</h2>
            <p> Revenue Grader is a <a href="#">Revenue Architects</a> application. It is a diagnostic tool to help businesses leaders rapidly assess revenue performance potential and develop a prioritized top-level plan – all in minutes. Revenue Grader complements other grader apps by taking a broad and strategic view of the critical elements of revenue performance. </p>

            <p> It is focused across three critical dimensions: </p>
            <ul>
              <li>Revenue Strategy</li>
          <li>Revenue Systems</li>
          <li>Revenue Programs</li>
            </ul>

            <p>After completing the Revenue Grader diagnostic, the executive can quickly identify priorities. Priorities can range widely - from developing market segmentation and crafting better value propositions to deploying marketing automation and enhancing sales team skills.<p>

        <h4>How does it work? </h4>
        <p>After a user registers, they are provided access to a very easy to use diagnostic tool. They can rate their maturity on key factors using a scale of 1-5. For each maturity factor, choose to <b>“add to plan”</b> and indicate priority.  In about 60 minutes, they will have a prioritized top-level plan indicating the items that are <b>“must do”</b>,<b> “should do” </b>and<b> “could do”</b>.  By updating the plan each quarter, the manager can see clear progression in plan execution.</p>

        <h4>Key features:</h4>
        <ul>
          <li>50 Revenue Performance Factors across Revenue Strategy, Revenue Systems and Revenue Programs</li>
          <li>1-5 capability maturity scoring system</li>
          <li>Ability to quickly “add to plan” and indicate priority using “must”, “should”, “could”</li>
          <li>Compare scores with peer groups</li>
          <li>View the report and sort by maturity and priority</li>
        </ul>

        <p>We hope you find the Revenue Grader to be valuable tool for your business and a start to an effective revenue growth plan.</p>

        <h2>About Revenue Architects</h2>

        <h4>Who We Are<h4>

        <p>Revenue Architects is a marketing consulting and services firm helping businesses align marketing and sales and drive revenue growth. We do this by integrating three things:</p>

        <ol>
          <li><span>Strategy:</span> Define competitive advantage and the integrated revenue marketing plan.</li>
          <li><span>Systems:</span> Build web presence and an agile and durable revenue platform</li>
          <li><span>Programs:</span> Envision, integrate and launch integrated campaigns and programs.</li>
        </ol>

        <p>By integrating these three layers, our clients build an effective Revenue Architecture.</p>

        <p>Today, business need a new more integrated revenue marketing capability and success requires a complex range of skills and expertise.  We blend strategy, design, media and technology skills to help clients differentiate their brand strategies, integrate digital and revenue systems, and launch innovative programs.  As a trusted advisor and program delivery partner, we build agile marketing systems and respond to dynamic growth opportunities. We are differentiated by our revenue architecture approach and flexible multi-affiliate resource model that allows us to respond to our client’s dynamic revenue initiatives.</p>

        <p>Learn more. Visit our <a href="http://revenuearchitects.com/services/" target="_blank">Services Page</a></p>

        <h4>How We Are Different</h4>

        <p>As our client’s trusted partner for revenue-focused initiatives, we help architect and build agile and durable marketing and sales capabilities. We differentiate with our strategic architecture approach, our responsive delivery model and our adaptive approach to emerging technology, media and marketing practices.</p>


     </div>

<% end -%>







