<% content_for :main_content do -%>
  <div class="main-content-header">
    <div class="heading" style="padding-left: 44% !important;">
      <h1 style="margin-top: 50px;"> Contact Us</h1>
    </div><!-- / -->
    <div class="arrow">
      &nbsp;
    </div><!-- / -->
  </div><!-- / -->

  <div class="main-content-content contact">
    <!-- SharpSpring Form for RevenueGrader Contact Us  -->
    <script type="text/javascript">
        var ss_form = {'account': 'szAzBwA', 'formID': 'SzMzSjI1SDLRtTRPM9c1MTBN1bVISkzRTTRKMjYySTFKTk5LAwA'};
        ss_form.width = '100%';
        ss_form.height = '1000';
        ss_form.domain = 'app-HSIR8I.sharpspring.com';
        // ss_form.hidden = {'Company': 'Anon'}; // Modify this for sending hidden variables, or overriding values
    </script>
    <script type="text/javascript" src="https://koi-HSIR8I.sharpspring.com/client/form.js?ver=1.1.1"></script>
  </div>
<% end -%>
