<% content_for :side_content do -%> 
     <%= render "/site/signup" -%> 
 <% end -%>

<% content_for :main_content do -%> 
   <div class="main-content-header">
          <div class="heading">
            <h1> Contact Us</h1>
          </div><!-- / -->
          <div class="arrow">
            &nbsp;
          </div><!-- / -->
    </div><!-- / -->

     <div class="main-content-content">
        <p>24 Federal Street, 4th Floor<br>
        Boston, Massachusetts 02110<br>
        Tel/Fax: (877) REV-EARN | (877) 738-3276</p>
     </div>

     <% end -%> 


