<% content_for :side_content do -%> 
     <%= render "/site/signup" -%> 
 <% end -%> 

<% content_for :main_content do -%> 
   <div class="main-content-header">
          <div class="heading">
            <h1> Contact Us</h1>
          </div><!-- / -->
          <div class="arrow">
            &nbsp;
          </div><!-- / -->
    </div><!-- / -->

     <div class="main-content-content contact">
     
      <iframe width="650" height="660" allowtransparency="true" frameborder="0" target="_blank" scrolling="no" src="http://engage.revenuearchitects.com/acton/form/2488/0002:d-0001/0/index.htm"></iframe>
       <!--  <p>24 Federal Street, 4th Floor<br>
        Boston, Massachusetts 02110<br>
        Tel/Fax: (877) REV-EARN | (877) 738-3276</p> -->
     
   </div>
     <% end -%> 


