<% content_for :side_content do -%>
     <%= render "/site/signup" -%>
 <% end -%>

<% content_for :main_content do -%>
  <div class="main-content-content row-fluid">
    <%= render "/site/index_content" -%>
  </div>
<% end -%>



