<% content_for :side_content do -%> 
     <%= render "/site/signup" -%> 
 <% end -%>


 <% content_for :main_content do -%> 
   <div class="main-content-header">
          <div class="heading">
          	 <h1> Privacy Policy</h1>
          </div><!-- / -->
          <div class="arrow">
            &nbsp;
          </div><!-- / -->
    </div><!-- / -->

     <div class="main-content-content aboutus">

         <h4>Introduction and Scope</h4>

			<p>In this Privacy Policy, we (Revenue Architects, LLC, headquartered in Cambridge, MA) describe how we use personally identifiable information about you that we collect through webpages at RevenueGrader.com, Facebook.com, and @revenuegrader (each a “Site” and together the “Sites”). This Privacy Policy does not apply to any other data, including, without limitation, data that we collect offline or data that others collect on websites that are linked to the Sites.</p>

		<h4>About Children</h4>
			<p>The Sites are not intended for children under the age of 13. We do not knowingly collect personally identifiable information via the Sites from visitors in this age group.</p>

		<h4>Types of data collected; Collection Methods; Combination of Data</h4>
			<p>You actively send information to us when you sign up with us as a member on a Site, participate in a Site sponsored by your employer that is hosted by Revenue Architects, participate in surveys or promotions, post opinions on our bulletin boards, respond to us or otherwise contact us. Depending on your choices, you may send us personally identifiable information such as your email address, name, birthday, and gender. But, you can also use certain features of our Sites without telling us your name and if you do not tell us who you are, we do not try to find out.</p>

			<p>We also track information about how our Site is used by you through cookies, Internet tags or web beacons, and navigational data collection (log files, server logs, clickstream data). For example, your Internet browser automatically transmits to us information such as the URL of the website you just came from and the Internet Protocol (IP) address and the browser version your computer is currently using.</p>

			<p>To accomplish some of the foregoing data processing, we utilize independent contractors.</p>

			<p>You can set your browser to notify you when a cookie is sent or to refuse or delete cookies altogether, but certain features of the Sites might not work without certain cookies.</p>

			<p>If you have actively sent us your name or other personally identifiable information, we may combine such information with tracked information for the purposes set forth below.</p>

		<h4>Purposes of Data Collection</h4>
			<p>We collect information about you because we want to determine what you may like or find interesting, so we can provide you with targeted information and offers (on our Site, in newsletters, via email and otherwise). In addition, we use data to create statistics and reports where personally identifiable information has been removed and aggregated (such that it is anonymous as regards any specific user) for various business purposes.  We also use the data collected to inform a conversation with you about potential areas of consulting services or support.</p>

		<h4>Disclosure of Data</h4>
			<p>We keep your personally identifiable information confidential and it is our practice not disclose it. But, please note the following clarifications and exceptions:<p>

    			<ul>
    				<li>For employer-sponsored sites, employer administrators receive and/or may access reports that include participating employees’ name and usage information, including usage data collected from cookies.</li>
    				<li>Our employees and independent contractors have access to some of your personally identifiable information for the purpose of helping us run our business (and not for their own purposes). They access and use such data subject to our instructions, on a “need to know” basis and under confidentiality and security obligations.</li>
    				<li>If we ever sell a Site or substantial parts of our business, we may disclose your personally identifiable information to a (prospective) buyer on the condition that such buyer agrees to comply with this Privacy Policy.</li>
   					<li> We may also share your personally identifiable information to respond to law enforcement requests, court orders or other legal process or if we believe that such disclosure is necessary to investigate, prevent or respond to illegal activities, fraud, physical threats to you or others or as otherwise required by any applicable law or regulation. You cannot opt out of disclosure of your personal information if required by lawful order.</li>
    				<li>We do not provide information to an advertiser without your consent, for example via email, click-through, an online opportunity to opt-out or otherwise.</li>
    				<li>We freely use and disclose data in anonymous form, for example, in statistics or reports to our advertising customers.</li>
				</ul>

			<p>Please remember that if you post any information in areas of our Sites that are generally accessible to users, such as Stories or Comments, it will be available to the public.<p>
		<h4>Security</h4>
			<p>We take reasonable steps to protect personally identifiable information from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. But, you should keep in mind that no Internet transmission is ever completely secure or error-free. In particular, e-mail sent to or from the Sites may not be secure.</p>
		<h4>Access and Correction; Comments and Questions</h4>

			<p>Please keep your personally identifiable information, accurate, current, and complete by routinely updating your user profile. If you have any questions, comments or concerns regarding this Privacy Policy, or if you would like to correct, update, or delete personally identifiable information you have submitted to us, please contact us at Revenue Architects, LLC, 24 Federal Street, 4th Floor, Boston, MA 0211.</p>
		<h4>Opt-Out, Communication Preferences</h4>
			<p>You may modify your communication preferences and/or opt-out from specific communications at any time. Please specify and adjust your preferences by clicking the unsubscribe link in each email.</p>
		<h4>Safe Harbor</h4>
			<p>Revenue Architects complies with the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework, satisfying its obligations under the EU Directive on Data Protection and Swiss data protection law.  Revenue Architects has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. Revenue Architects’ implementation of these principles are set forth more fully above.   To learn more about the U.S. Department of Commerce Safe Harbor program, and to view the Revenue Architects’ certification, please visit http://www.export.gov/safeharbor/.</p>
		<h4>Changes to this Privacy Policy</h4>
			<p>This Privacy Policy was last updated on April 5, 2012. We reserve the right to amend it from time to time and if we change it materially, we will post a revised version on the Sites. Please check back periodically, and especially before you provide any personally identifiable information to us.</p>
     </div>

<% end -%> 





