<div class="container" style="margin-top:25px;background-color:#FFF;height:300px;">
			<div class="row-fluid" style="padding-top:20px;margin-left:20px;width:90%;">
			 
			 <div class="picon">
			 	http://www.revenuearchitects.com/privacy-policy/
			  <!-- <h2>Privacy</h2><br/>

			  <h4>Rate yourself on key revenue drivers</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.</p>

			  <h4>We instantly process the results</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.</p>

			  <h4>Download your report</h4>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu erat et velit dapibus bibendum id quis quam. Sed quis suscipit tortor.</p> -->
			</div>
			</div>
		</div> 