<div class="container headerPopup">
			<div class="row-fluid">
			<div class="span12 leftBox">
				
			 <h1> Content for privacy</h1>
               <p>Rate yourself on key revenue drivers</p>
               <p>Rate yourself on key revenue drivers</p>
               <p>Rate yourself on key revenue drivers</p>
			</div>
		</div> 
	</div>