@charset "utf-8";
/* CSS Document */

.button-bar {
  text-align: center;
  padding-bottom: 12px;
  float: right;
  padding:20px 20px 0 0;
}
.copyright {
  text-align: center;
  color: #67737a;
  font-size: 11px;
}
.leftBox{
	height:430px;
}
.leftBox .question{
	float:left;
	width:95%;
	padding:0 0 0 20px;
}
.leftBox .question h1{
    font-size: 30px;
	font-weight:normal;
	margin-top:20px;
	font-family: Tahoma, Geneva, sans-serif;
	color:#67737a;
	width:85%;
	float:left;
    line-height: 40px;
}
.leftBox .question h2{
    font-size: 80px;
	font-weight:normal;
	margin-top:40px;
	float:right;
	font-family: Tahoma, Geneva, sans-serif;
	color:#67737a;
    line-height: 40px;
}
.leftBox .arrows{
	height:130px;
	float:left;
	width:95%;
	padding:0 0 0 20px;
	background-image:url(../img/arrows_bg.png);
	background-repeat:no-repeat;
}
.leftBox .arrows h1{
    font-size: 35px;
	font-weight:normal;
	margin-top:27px;
	color:#fff;
    line-height: 36px;
}
.leftBox .arrows h1 a{
	color:#80cedc;
	text-decoration:underline;
}
.leftBox .arrows h1 a:hover{
	color:#fff;
}
.leftBox .points{
	height:68px;
	clear:both;
	float:left;
	width:90%;
	color:#67737a;
	padding:20px 20px 0 20px;
}
.leftBox .points h2{
	color:#67737a;
	font-size:20px;
}
.leftBox .points .icon{
	float:left;
	width:15%;
}
.leftBox .points .picon{
	float:left;
	width:85%;
}
.leftBox .points .option{
	float:left;
	width:100%;
}
.leftBox .points .option h2{
	float:left;
	color:#0086ac;
	font-weight:normal;
	font-size:23px;
	width:100%;
}
.leftBox .points .option .btn{
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	margin:10px 20px 0 0;
}
.leftBox .points .option .btn span{
	background-color:#848b90;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:4px;
}
.rightBox{
	height:430px;
}
.rightBox h3{
	font-weight:normal;
}
.tab-content span{
	color:#cf2200;
}
.processIcons span{
	float:left;
	width:70px;
	text-align:center;
	
	text-shadow: 1px 1px 1px #000;
}

.leftBox .points1{
	clear:both;
	width:90%;
	color:#67737a;
	padding:20px 20px 0 20px;
}
.leftBox .points1 .option{
	float:left;
	width:100%;
}
.leftBox .points1 .option h2{
	float:left;
	color:#0086ac;
	font-weight:normal;
	font-size:23px;
	width:100%;
}
.leftBox .points1 .option .btn{
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	margin:10px 20px 0 0;
}
.leftBox .points1 .option .btn span{
	background-color:#848b90;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:4px;
}
.leftBox .qdots{
	clear:both;
	width:100%;
	float:left;
	height:60px;
	color:#67737a;
	background-color:#636e75;
	background-image:url(../img/qdots_bg.png)
}
.leftBox .qdots span{
	padding:6px;
	float:left;
	margin:20px 5px 0 0;
}
.scoreBoard{
	float:left;
	clear:both;
	margin-top:40px;
	width:100%;
}
.scoreBoard .head{
	float:left;
	background-color:#2f3941;
	width:200px;
	color:#fff;
	border-top-right-radius: 20px; 
	clear:both;
	padding:4px;
	width:97%;
	text-align:center;
}
.scoreBoard .score{
	float:left;
	background-color:#404b54;
	width:100%;
	color:#9ddaba;
	clear:both;
	font-size:60px;
	height:90px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	font-family:Tahoma, Geneva, sans-serif;
	padding:15px 4px 5px 4px;
	text-shadow: 1px 1px 1px #000;
	text-align:center;
	width:97%;
}
.scoreBoard .score span{
	color:#acb2b5;
	clear:both;
	font-size:15px;
	text-align:center;
	text-shadow:none;
}





.scoreBoard2{
	float:left;
	clear:both;
	margin-top:40px;
	width:90%;
}
.scoreBoard2 .head2{
	float:left;
	background-color:#2f3941;
	width:200px;
	color:#fff;
	border-top-right-radius: 20px; 
	clear:both;
	padding:4px;
	width:80%;
	text-align:center;
}
.scoreBoard2 .score2{
	float:left;
	background-color:#404b54;
	width:100%;
	color:#9ddaba;
	clear:both;
	font-size:60px;
	height:90px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	font-family:Tahoma, Geneva, sans-serif;
	padding:15px 4px 5px 4px;
	text-shadow: 1px 1px 1px #000;
	text-align:center;
	width:80%;
}
.scoreBoard2 .score2 span{
	color:#acb2b5;
	clear:both;
	font-size:15px;
	text-align:center;
	text-shadow:none;
}












.tips{
	float:left;
	clear:both;
	width:170px;
	margin-top:40px;
	background-color:#303c43;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	border-top-right-radius: 20px;
	color:#e8edf0;
	padding:20px;
	width:85%;

	-moz-box-shadow: -1px 0px 2px #575f64 inset;
    -webkit-box-shadow: -5px -5px 10px #575f64 inset;
	box-shadow: -1px -0px 2px #575f64 inset;

	/*-moz-box-shadow: inset 0px 0px 2px #575f64;
-webkit-box-shadow: inset 0 0 5px#575f64;
box-shadow: inner 0px 0px 2px #575f64;*/
}
tips
.tips .head{
	float:left;
	clear:both;
}
.tips .text{
	float:left;
	clear:both;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
}
.nav-pills span {
  color: #ffffff;
  background-color: #333;
  font-size:10px;
  padding:2px;
}
.nav-pills .done {
  color: #ffffff;
  background-color: #00a54f;
}
.nav-pills .done a{
  color: #ffffff;
  background-color: #00a54f;
}
.nav-pills .done a:hover{
  color: #333;
  background-color: #00a54f;
}
.nav-pills .on {
  color: #333;
  background-color: #fff;
}
.nav-pills .on a{
  color: #333;
  background-color: #fff;
}
.nav-pills .on a:hover{
  color: #00a54f;
  background-color: #fff;
}
.nav-pills .next {
  color: #ffffff;
  background-color: #647077;
  padding-bottom:2px;
  margin-left:1px;
}
.nav-pills .next a{
  color: #2f3941;
  background-color: #647077;
}
.nav-pills .next a:hover{
  color: #333;
  background-color: #647077;
}
.slabels{
	width:670px;
	font-weight:bold;
	color:#333333;
	font-size:16px;
	margin-bottom:8px;
}