@charset "utf-8";
/* CSS Document */
.button-bar {
  text-align: center;
  padding-bottom: 12px;
  float: right;
  padding:20px 20px 0 0;
}
.copyright {
  text-align: center;
  color: #67737a;
  font-size: 11px;
}
.leftBox{
	height:430px;
}
.leftBox .question{
	float:left;
	width:95%;
	padding:0 0 0 20px;
}
.leftBox .question h1{
    font-size: 40px;
	font-weight: 300;
	margin-top:20px;
	/*font-family: 'Telex', sans-serif;*/
	/*font-family: 'Arimo', sans-serif;*/
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Muli', sans-serif;*/
	font-family: 'Lato', sans-serif;
	/*font-family: 'Pontano Sans', sans-serif;*/
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	/*font-family: 'PT Sans', sans-serif;*/
	/*font-family: 'Marvel', sans-serif;*/
	/*font-family: 'Nixie One', cursive;*/
	/*font-family: 'Asul', sans-serif;*/
	/*font-family: 'Quattrocento Sans', sans-serif;*/
	/*font-family: 'Enriqueta', serif;*/
	/*font-family: Tahoma, Geneva, sans-serif;*/
/*	font-family: 'Sorts Mill Goudy', serif;*/
	color:#67737a;
	width:80%;
	float:left;
    line-height: 52px;
    letter-spacing:-2px;

}
.leftBox .question h2{
    font-size: 80px;
	font-weight:400;
	margin-top:40px;
	float:right;
	font-family: 'Poiret One', cursive;
	color:#67737a;
    line-height: 40px;
}
.leftBox .arrows{
	height:130px;
	float:left;
	width:95%;
	padding:0 0 0 20px;
	background-image:url(arrows_bg.png);
	background-repeat:no-repeat;
}
.leftBox .arrows h1{
    font-size: 35px;
	font-weight:normal;
	margin-top:27px;
	color:#fff;
    line-height: 36px;
}
.leftBox .arrows h1 a{
	color:#80cedc;
	text-decoration:underline;
}
.leftBox .arrows h1 a:hover{
	color:#fff;
}
.leftBox .points{
	height:68px;
	clear:both;
	float:left;
	width:90%;
	color:#67737a;
	padding:20px 20px 0 20px;
}
.leftBox .points h2{
	color:#67737a;
	font-size:20px;
}
.leftBox .points .icon{
	float:left;
	width:15%;
}
.leftBox .points .picon{
	float:left;
	width:85%;
}
.leftBox .points .option{
	float:left;
	width:100%;
}
.leftBox .points .option h2{
	float:left;
	color:#0086ac;
	font-weight:normal;
	font-size:23px;
	width:100%;
}
.leftBox .points .option .btn{
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	margin:10px 20px 0 0;
}
.leftBox .points .option .btn span{
	background-color:#848b90;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:4px;
}
.rightBox{
	height:430px;
}
.rightBox h3{
	font-weight:normal;
}
.tab-content span{
	color:#cf2200;
}
.processIcons span{
	float:left;
	width:70px;
	text-align:center;
	
	text-shadow: 1px 1px 1px #000;
}

.leftBox .points1{
	clear:both;
	width:90%;
	color:#67737a;
	padding:20px 20px 0 20px;
}
.leftBox .points1 .option{
	float:left;
	width:100%;
}
.leftBox .points1 .option h2{
	float:left;
	color:#0086ac;
/*	font-family: 'Arimo', sans-serif;*/
font-family: 'Pontano Sans', sans-serif;
	font-weight:400;
	font-size:23px;
	width:100%;
}
.leftBox .points1 .option .btn{
	-moz-border-radius: 25px;
	border-radius: 25px;
	padding:10px;
	margin:10px 20px 0 0;
}
.leftBox .points1 .option .btn span{
	background-color:#848b90;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:4px;
}
.leftBox .qdots{
	clear:both;
	width:100%;
	float:left;
	height:60px;
	color:#67737a;
	background-color:#636e75;
	background-image:url(qdots_bg.png)
}
.leftBox .qdots span{
	padding:6px;
	float:left;
	margin:20px 5px 0 0;
}
.scoreBoard{
	float:left;
	clear:both;
	margin-top:40px;
	width:100%;
}
.scoreBoard .head{
	float:left;
	background-color:#2f3941;
	width:200px;
	color:#fff;
	border-top-right-radius: 20px; 
	clear:both;
	padding:4px;
	width:97%;
	text-align:center;
}
.scoreBoard .score{
	float:left;
	/*background-color:#404b54;*/
	width:100%;
	color:#9ddaba;
	clear:both;
	font-size:60px;
	height:90px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	font-family:Tahoma, Geneva, sans-serif;
	padding:15px 4px 5px 4px;
	text-shadow: 1px 1px 1px #000;
	background-color:rgba(48,60,67,0.5);
	text-align:center;
	width:97%;
}
.scoreBoard .score span{
	color:#acb2b5;
	clear:both;
	font-size:15px;
	text-align:center;
	text-shadow:none;
}
.tips{
	float:left;
	clear:both;
	width:170px;
	margin-top:40px;
	background-color:rgba(48,60,67,0.5);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	border-top-right-radius: 20px;
	color:#e8edf0;
	padding:20px;
	width:85%;
	box-shadow-top: -1px -0px 2px #000;

	-moz-box-shadow: -1px 0px 2px #575f64 inset;
    -webkit-box-shadow: -1px -1px 2px #575f64 inset;
	box-shadow: -1px -0px 2px #575f64 inset;

	/*-moz-box-shadow: inset 0px 0px 2px #575f64;
-webkit-box-shadow: inset 0 0 5px#575f64;
box-shadow: inner 0px 0px 2px #575f64;*/
}


.arrow_left{

	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:20px solid rgba(48,60,67,0.5);
	/*background-color:*/
	left:-7.5%;
	top:344px;
	position:relative;
}

.tips.left:after {
		width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 

	border-right:10px solid blue;
/*    border-color: transparent #F3961C;
    border-width: 10px 50px 15px 0;
    bottom: auto;
    left: -50px;
    top: 16px;*/
}
.tips .head{
	float:left;
	clear:both;
}
.tips .text{
	float:left;
	clear:both;
	font-size:11px;
	font-family: 'Telex', sans-serif;
}


#backcolor{

  background-image: -moz-linear-gradient(top, #4e5960, #647077);
  background-image: -ms-linear-gradient(top, #4e5960, #647077);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e5960), to(#647077));
  background-image: -webkit-linear-gradient(top, #4e5960, #647077);
  background-image: -o-linear-gradient(top, #4e5960, #647077);
  background-image: linear-gradient(top, #4e5960, #647077);
}

.green{
  color: #ffffff;
  text-shadow: 0 1px 0 #000;
  background-image: -moz-linear-gradient(top, #00bb63, #008f3b);
  background-image: -ms-linear-gradient(top, #00bb63, #008f3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00bb63), to(#008f3b));
  background-image: -webkit-linear-gradient(top, #00bb63, #008f3b);
  background-image: -o-linear-gradient(top, #00bb63, #008f3b);
  background-image: linear-gradient(top, #00bb63, #008f3b);
  border-radius:4px;
  box-shadow: 0px 0px 1px #333;
  /*background-color: #333;*/
  font-size:10px;
  padding:5px;
}

.red {
  color: #ffffff;
  text-shadow: 0 1px 0 #000;
  background-image: -moz-linear-gradient(top, #f15b57, #e83936);
  background-image: -ms-linear-gradient(top, #f15b57, #e83936);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f15b57), to(#e83936));
  background-image: -webkit-linear-gradient(top, #f15b57, #e83936);
  background-image: -o-linear-gradient(top, #f15b57, #e83936);
  background-image: linear-gradient(top, #f15b57, #e83936);
  border-radius:4px;
  box-shadow: 0px 0px 1px #333;
  /*background-color: #333;*/
  font-size:10px;
  padding:5px;
}

.nav-pills .on {
  border-right: 3px solid #000;
  color: #000000;

  background-image: -moz-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -ms-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ea4a7), to(#aab0b4));
  background-image: -webkit-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -o-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: linear-gradient(top, #9ea4a7, #aab0b4);
}
 .nav-pills .on a{
   color: #000000;
  text-shadow: 0 1px 0 #fff;
  background-image: -moz-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -ms-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ea4a7), to(#aab0b4));
  background-image: -webkit-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -o-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: linear-gradient(top, #9ea4a7, #aab0b4);
}
.nav-pills .on a:hover{
  color: #333;
  text-shadow: 0 1px 0 #fff;
  background-image: -moz-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -ms-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9ea4a7), to(#aab0b4));
  background-image: -webkit-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: -o-linear-gradient(top, #9ea4a7, #aab0b4);
  background-image: linear-gradient(top, #9ea4a7, #aab0b4);
}

.nav-pills .done {
  color:#d3dadc;
  text-shadow: 0 1px 0 #000;
  border-right: 3px solid #000;
  background-image: -moz-linear-gradient(top, #2e7f5b, #388966);
  background-image: -ms-linear-gradient(top, #2e7f5b, #388966);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e7f5b), to(#388966));
  background-image: -webkit-linear-gradient(top, #2e7f5b, #388966);
  background-image: -o-linear-gradient(top, #2e7f5b, #388966);
  background-image: linear-gradient(top, #2e7f5b, #388966);
}
.nav-pills .done a{
  color: #d3dadc;
  text-shadow: 0 1px 0 #000;
/* background-color: #00a54f;*/
  background-image: -moz-linear-gradient(top, #2e7f5b, #388966);
  background-image: -ms-linear-gradient(top, #2e7f5b, #388966);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e7f5b), to(#388966));
  background-image: -webkit-linear-gradient(top, #2e7f5b, #388966);
  background-image: -o-linear-gradient(top, #2e7f5b, #388966);
  background-image: linear-gradient(top, #2e7f5b, #388966);
}
.nav-pills .done a:hover{
  color: #333;
  text-shadow: 0 1px 0 #000;
  background-color: #00a54f;
}

.nav-pills .next {
  color: #ffffff;
  text-shadow: 0 1px 0 #000;
   border-right: 3px solid #000;
  background-image: -moz-linear-gradient(top, #4e5960, #647077);
  background-image: -ms-linear-gradient(top, #4e5960, #647077);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e5960), to(#647077));
  background-image: -webkit-linear-gradient(top, #4e5960, #647077);
  background-image: -o-linear-gradient(top, #4e5960, #647077);
  background-image: linear-gradient(top, #4e5960, #647077);
  padding-bottom:2px;
  margin-left:1px;
}
.nav-pills .next a{
  color: #fff;
  text-shadow: 0 1px 0 #000;
   background-image: -moz-linear-gradient(top, #4e5960, #647077);
  background-image: -ms-linear-gradient(top, #4e5960, #647077);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e5960), to(#647077));
  background-image: -webkit-linear-gradient(top, #4e5960, #647077);
  background-image: -o-linear-gradient(top, #4e5960, #647077);
  background-image: linear-gradient(top, #4e5960, #647077);
}
.nav-pills .next a:hover{
  color: #333;
  text-shadow: 0 1px 0 #000;
  background-image: -moz-linear-gradient(top, #4e5960, #647077);
  background-image: -ms-linear-gradient(top, #4e5960, #647077);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e5960), to(#647077));
  background-image: -webkit-linear-gradient(top, #4e5960, #647077);
  background-image: -o-linear-gradient(top, #4e5960, #647077);
  background-image: linear-gradient(top, #4e5960, #647077);
}

.slabels{
	width:670px;
	font-weight:bold;
	color:#333333;
	font-size:16px;
	margin-bottom:8px;
}


/*company details score */
.Baloon{
	float:left;
	clear:both;
	margin-top:40px;
	width:100%;
}

.Baloon .head1{
	float:left;
	background-color:#2f3941;
	color:#fff;
	border-top-right-radius: 20px; 
	clear:both;
	padding:4px;
	width:97%;
	text-align:center;
}


.Baloon .head1 h1{
	font-size:20px;
	color:#fff;
	border-top-right-radius: 20px; 
	clear:both;
	padding:4px;
	width:97%;
	text-align:left;
	text-shadow: 1px 1px 1px #000000;
}




.Baloon .head1 h2{
	font-size:10px;
	color:#ccc;
	border-top-right-radius: 20px; 
	clear:both;
	padding:4px;
	width:97%;
	text-align:right;
	text-shadow: 1px 1px 1px #000000;
}


.Baloon .score1{
	float:left;
	background-color:#404b54;
	width:100%;
	color:#9ddaba;
	clear:both;
	font-size:60px;
	height:60px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px; 
	font-family:'Telex' sans-serif;
	padding:15px 4px 5px 4px;
	text-shadow: 1px 1px 1px #000;
	text-align:center;
	width:97%;
}
.Baloon .score1 span{
	vertical-align: middle;
	padding-top:5%;
	color:#9ddaba;
	clear:both;
	font-size:40px;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}

/*company details score end*/


/* css for slider on question page */
.ui-corner-all {
                border-radius: 4px 4px 4px 4px;
            }
           
            .ui-widget-content {
                background: url("../../assets/slide_bg.png") repeat-y scroll 50% top #EEEEEE;
                width:580px;
                border: 1px solid #DDDDDD;
                color: #333333;
            }


            .ui-slider { position: relative; text-align: left; margin-left:15px; }
            .ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 24px; height: 25px; cursor: default; background: url("../../assets/slider_handle.png") repeat-x scroll 50% top; }
            .ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
           
            .ui-slider-horizontal { height: .8em; }
            .ui-slider-horizontal .ui-slider-handle { top: -.5em; margin-left: -.6em; }
            .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
            .ui-slider-horizontal .ui-slider-range-min { left: 0; }
            .ui-slider-horizontal .ui-slider-range-max { right: 0; }


/* css for client side validation error*/
.field_with_errors {  
  display: inline;  
}  
  
.field_with_errors .message {  
  color: black;  
  padding-left: 5px;  
  font-size: 12px;  
}  


